
.tririga-monitor {
  position: absolute;
  right: 0px;
  z-index: 10;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  width: 200px;
  min-width: 100px;
  max-width: 400px;
  pointer-events: none;
  /* reset any styling that may be inherited from parent html or body elements */
  margin: 0px;
  padding: 0px;
  line-height: 1;
  box-sizing: initial;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 1em;
  text-size-adjust: unset;
}
.row{
  opacity: 1;
  text-align: right;
  /* reset any styling that may be inherited */
  margin: 0px;
  padding: 0px;
}
.count {
  font-size: 3em;
  text-align: right;
}
.countDown {
  height: 5px;
  width: 100%;
}
